@import "../../../styles/variables";

.canvas-style {
  border: 10px solid #ffffff;
  border-radius: 30px;
  object-fit: contain;
}

@media (max-width: 400px) {
  .canvas-style {
    width: 75%;
  }
}
