@import "../../../styles/variables";

.token-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.token-img {
  width: 113px;
  height: 136px;
  border: 10px solid #ffffff;
  border-radius: 30px;
}

.token-txt-cont {
  text-align: left;
}

@media (min-width: $breakpoints-tablet) {
  // .token-cont {
  //   margin-bottom: 216px;
  // }
}

@media (max-width: $breakpoints-small) {
  .token-cont {
    gap: 20px;
  }
  .token-img {
    width: 108px;
    height: 113px;
  }
}
