.main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.main-title {
  font-size: 4.5rem;
  line-height: 32px;
  letter-spacing: -0.8px;
}
