.upload-container {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-label {
  margin: 0.5rem 0;
  border-style: dashed;
  padding: 0.5rem;
  background-color: transparent;
  text-transform: uppercase;
  border-color: #5eb8fa;
}

.thumbnail-container {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 0.5rem;
}

.thumbnail {
  width: 25%;
}

.input-error {
  color: red;
  margin: 0;
}

.upload-input {
  display: none;
}

.btn-container {
  display: flex;
  margin-top: 2rem;
  gap: 2%;
  width: 100%;
  padding: 0 1rem;
  justify-content: center;
}
