.upload-container {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-label {
  margin: 0.5rem 0;
  border-style: dashed;
  padding: 0.5rem;
  background-color: transparent;
  text-transform: uppercase;
  border-color: #5eb8fa;
}

.thumbnail-container {
  display: flex;
}

.input-error {
  color: red;
  margin: 0;
}

.upload-input {
  display: none;
}
