.prize-container {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.prize-input {
  width: 10%;
  margin: 0 0.25rem;
}

.input-errors {
  margin: 0;
  color: rgb(253, 253, 64);
  width: 80%;
  text-align: center;
}

