@import "_variables";
@import "_buttons";
@import "_layouts";
@import "_mixins";
@import "_typography";

.App {
  height: 100vh;
}

.main-btn-cont {
  position: absolute;
  right: 50px;
  top: 20px;
  gap: 5px;
}
