.main-title {
  @include text;
  font-size: 7.2rem;
}

.title {
  @include text;
  font-size: 4rem;
}

.host {
  @include text;
  font-size: 2.2rem;
}

.title-description {
  @include text;
  font-size: 1.5rem;
}

.description {
  @include text;
  font-size: 1rem;
}

.warning {
}
