.main-title {
  @include text;
  font-size: 7.2rem;
}

.text {
  @include text;
  font-size: 1.3rem;
}

.title {
  @include text;
  font-size: 4rem;
}

.title-small {
  @include text;
  font-size: 2.3rem;
}

.host {
  @include text;
  font-size: 2.2rem;
}

.title-description {
  @include text;
  font-size: 1.5rem;
}

.description {
  @include text;
  font-size: 1rem;
}

.warning {
  @include text;
  font-size: 1.3rem;
  color: rgb(253, 253, 64);
}
