@import "../../../styles/variables";

.scratch-image {
  border: 10px solid white;
  border-radius: 30px;
  width: 57%;
  height: 31.53%;
}

@media (min-height: 500px) and (min-width: 700px) {
  .scratch-image {
    width: 243px;
    height: 256px;
  }
}
