@import "../../../styles/variables";

.scratch-image {
  border: 10px solid white;
  background-color: gray;
  width: 82%;
  height: 50vh;
  border-radius: 30px;
}

.image-won {
  width: 57%;
  height: 32%;
  background-image: url("https://i1.sndcdn.com/avatars-000500544273-6kcyh0-t500x500.jpg");
}

@media (min-width: $breakpoints-tablet) and (max-width: $breakpoints-desktop) {
  .scratch-image {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 450px) and (max-width: $breakpoints-tablet) {
  .scratch-image {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: $breakpoints-small) {
  .scratch-image {
    height: 40vh;
  }
}
