.scratch {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px calc(100vh - 140px) 70px;
  height: 100vh;
  align-items: center;
}

.scratch .header {
  grid-row: 1 / span 1;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.scratch-won {
  background-image: url("../../assets/image2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
