@import "../../styles/variables";

.smash {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 70px calc(100vh - 140px) 70px;
}

.won {
  justify-content: flex-end;
}

@media (max-width: 450px) {
  .won {
    margin-bottom: 50px;
  }
}

@media (min-width: 450px) {
  .won {
    justify-content: center;
  }
}
