@import "../../../styles/variables";

.won-msg {
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.8px;
}

.btn-margin {
  margin-bottom: 120px;
}

.desc {
  font-size: 1.375rem;
  line-height: 32px;
  letter-spacing: -0.8px;
  white-space: pre-line;
}

@media (min-width: 450px) {
  .btn-margin {
    margin-top: 25px;
  }
}

@media (max-width: $breakpoints-small) {
  .won-msg {
    font-size: 1.875rem;
  }

  .desc {
    font-size: 1.125rem;
  }
}

.won-container-bottom {
  justify-content: end;
  padding-bottom: 1rem;
}

.text-bottom {
  margin-bottom: 3rem;
}
