@import "../../../styles/variables";

.won-msg {
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: -0.8px;
}

.btn-margin {
  margin-bottom: 120px;
}

.desc {
  font-size: 1.375rem;
  line-height: 32px;
  letter-spacing: -0.8px;
  white-space: pre-line;
}

.won-container-bottom {
  justify-content: end;
}

@media (min-width: 450px) {
  .btn-margin {
    margin-top: 25px;
  }
}

@media (min-height: 750px) {
  .text-bottom {
    margin-bottom: 3rem;
  }

  .won-container-bottom {
    padding-bottom: 2rem;
  }
}

@media (max-width: $breakpoints-small) {
  .won-msg {
    font-size: 1.875rem;
  }

  .desc {
    font-size: 1.125rem;
  }
}
