@import "../../styles/variables";

.more-games {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

.mg-cont {
  width: 92%;
  align-self: center;
}

.mg-title {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.8px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.mg-t-m {
  margin-top: 50px;
}

.mg-foo {
  font-size: 16px;
}

.m {
  margin: 0;
}

.mg-token-cont {
  width: unset;
}

@media (min-width: $breakpoints-laptop) {
  .more-games {
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 60vw;
    margin: auto;
  }

  .mg-token-cont {
    margin-bottom: 220px;
  }
}

@media (min-width: $breakpoints-tablet) and (max-width: 949px) {
  .more-games {
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
  }

  .mg-cont {
    width: 50%;
  }
}

@media (min-width: $breakpoints-small) {
}
